.setting {
  .setting-content {
    background-color: var(--bg-color);
    font-size: 1.5rem;

    .setting-content__item {
      background-color: white;
      padding: 1rem;
      margin: 1rem;
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-weight: 500;

      .icon {
        font-size: 2rem;
      }
    }
  }
}

.child-content {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: white;
  font-size: 1.5rem;

  .child-content__head {
    background-color: var(--merchant-color);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    font-size: 1.6rem;
    padding: 1rem;
    position: relative;

    .icon {
      font-size: 2rem;
      position: absolute;
      left: 1rem;
    }
  }
  .child-content__main {
    .child-content__main-cat {
      font-size: 1.4rem;
      padding: 1rem;

      .main-cat__item {
        padding: 1rem;
        text-transform: capitalize;
        font-weight: 500;
        display: flex;
        align-items: center;
        position: relative;
        margin-bottom: 1rem;
        border: 1px solid #ebebeb;
        border-radius: 6px;
        span {
          margin-right: 1rem;
        }

        .icon {
          font-size: 2rem;
          position: absolute;
          right: 1rem;
        }
      }

      .main-cat__add {
        position: fixed;
        bottom: 0;
        right: 0;
        left: 0;
        padding: 1rem;

        button {
          width: 100%;
          background-color: var(--merchant-color);
          color: white;
          border: none;
          padding: 1rem;
          font-size: 1.5rem;
          border-radius: 4px;
        }
      }
    }
  }
}

.main-cat__form {
  text-align: center;

  .form-label {
    font-size: 1.4rem;
    margin-right: 1rem;
  }
  .form-input {
    padding: 0.5rem;

    text-align: left;
    border: none;
    border-bottom: 1px solid #ccc;
    &:focus {
    }
  }
  .form-action {
    width: 100%;
    margin-top: 1.5rem;
    padding: 1rem;
    background-color: var(--merchant-color);
    color: white;
    border-radius: 4px;
    border: none;
  }
}
