@import "App.scss";

.footer-wrap {
  padding: 30px 0;
  border-top: 1px solid #ccc;
  background-color: var(--white-color);

  .footer-item {
    font-size: 1.4rem;
    display: flex;
    flex-direction: column;
    position: relative;

    @include mobile {
      text-align: center;
    }

    @include tablet {
      text-align: center;
    }

    .footer-logo {
      img {
        width: 100px;
      }
    }

    .location-company {
      font-weight: bold;
    }

    .footer-link {
      padding-bottom: 15px;
      text-decoration: none;
      color: #9c9c9c;

      @include mobile {
        justify-content: center;
      }

      @include tablet {
        justify-content: center;
      }

      &:hover {
        color: var(--primary-color);
      }

      .footer-icon {
        font-size: 2rem;
        margin-right: 10px;
      }
    }

    .footer-link.icon {
      display: flex;
      align-items: center;
    }
  }

  .footer-copyright {
    text-align: center;
    font-size: 1.5rem;
    padding: 15px;
  }
}
