.main-merchant {
  .tab-menu {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;

    .tab-menu__item {
      width: 25%;
      border-bottom: 3px solid #ebebeb;
      text-align: center;
      height: 5rem;
      font-size: 1.5rem;
      line-height: 5rem;
      text-decoration: none;
      color: var(--text-color);

      a {
        height: 5rem;
        font-size: 1.5rem;
        line-height: 5rem;
        text-decoration: none;
        color: var(--text-color);
      }
    }

    .tab-menu__item--active {
      border-bottom: 3px solid #1964d4;
      color: #1964d4;
      a {
        color: #1964d4;
      }
    }
  }
}
