.slide-wrapper {
  position: relative;
  width: 1200px;
  margin: 0 auto;
  height: 220px;

  .slide-item {
    outline: none;
    display: inline-block;

    .slide-img {
      width: 390px;
      height: 220px;
      padding: 0 5px;
      border-radius: 8px;
      background-size: cover;
      margin: 0;
    }
  }
}

.slick-item {
  outline: none;
}
.slick-prev,
.slick-next {
  &::before {
    color: var(--text-color);
  }
}

.slick-arrow:hover,
.slick-arrow:active,
.slick-arrow:focus {
}
