@import "app.scss";

.slide-wrapper {
  position: relative;
  margin: 2rem auto;
  height: 220px;
  left: 4px;

  @include tablet {
    left: 6px;
  }

  @include mobile {
    left: 13px;
  }

  @include small {
    left: 16px;
  }

  @include tiny {
    left: 5px;
  }

  .slide-item {
    outline: none;
    display: inline-block;

    .slide-img {
      width: 390px;
      height: 220px;
      border-radius: 8px;
      background-size: cover;
      margin: 0;

      @include tablet {
        width: 314px;
        height: 180px;
      }

      @include small {
        width: 345px;
        height: 200px;
      }

      @include tiny {
        width: 310px;
        height: 166px;
      }
    }
  }

  //========================== SLICK LIST LIBARARY
  .slick-item {
    outline: none;
  }

  .slick-slider .slick-arrow {
    width: 60px;
    height: 100%;
    z-index: 1;

    @include mobile {
      display: none !important;
    }
  }

  .slick-prev:before,
  .slick-next:before {
    color: var(--primary-color);
    font-size: 4rem;
  }

  .slick-prev {
    position: absolute;
    left: -60px;
  }

  .slick-next {
    position: absolute;
    right: -54px;
  }
}
