@import "App.scss";

.slide-wrapper {
  position: relative;
  margin: 2rem auto;
  height: 220px;
  left: 4px;

  @include tablet {
    left: 6px;
  }

  @include mobile {
    left: 13px;
  }

  @include small {
    left: 16px;
  }

  @include tiny {
    left: 5px;
  }

  .slide-item {
    outline: none;
    display: inline-block;

    .slide-img {
      width: 390px;
      height: 220px;
      border-radius: 8px;
      background-size: cover;
      margin: 0;
      cursor: pointer;

      @include tablet {
        width: 314px;
        height: 180px;
      }

      @include small {
        width: 345px;
        height: 200px;
      }

      @include tiny {
        width: 310px;
        height: 166px;
      }
    }
  }

  //========================== SLICK LIST LIBARARY
  .slick-item {
    outline: none;
  }

  .slick-slider .slick-arrow {
    width: 60px;
    height: 100%;
    z-index: 1;

    @include mobile {
      display: none !important;
    }
  }

  .slick-prev:before,
  .slick-next:before {
    color: var(--primary-color);
    font-size: 4rem;
  }

  .slick-prev {
    position: absolute;
    left: -60px;
  }

  .slick-next {
    position: absolute;
    right: -54px;
  }
}

.modal-discount {
  border-radius: 12px;
  width: 600px;
  background-color: #f6f6f6;

  @include mobile {
    width: 100%;
    padding: 0 0.5rem;
  }

  .discount-title {
    font-size: 1.6rem;
    font-weight: bold;
    text-transform: capitalize;
    padding: 1rem;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    .discount-title__icon {
      position: absolute;
      right: 1rem;
      font-size: 1.8rem;
      cursor: pointer;
    }
  }
  .discount-content {
    // overflow-y: scroll;

    .discount-img {
      width: 100%;
    }
    .discount-head {
      font-size: 1.8rem;
      text-transform: capitalize;
      font-weight: bold;
      padding: 1rem 2rem;

      @include mobile {
        padding: 1rem 0.5rem;
      }
    }
    .discount-text {
      font-size: 1.5rem;
      padding: 0 2rem 1rem;

      @include mobile {
        padding: 0 0.5rem 1rem;
      }
    }
  }
}
