h1,
p {
  font-family: Lato;
}
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  font-size: 1.5rem;
  margin: 0 auto;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
p {
  font-size: 1.4rem;
}

@media print {
  .hide-on-print {
    display: none;
  }
}
