.navbar-manager {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 5px 5px -5px #999;
  padding: 0 1rem;
  margin-bottom: 2px;
  box-sizing: border-box;
  p {
    font-size: 1.8rem;
  }
}
