@import "App.scss";
.account-right {
  .account-right__head {
    .tab-navigation {
      padding-left: 0;
      margin: 0;
      list-style: none;
      display: flex;
      margin-bottom: 2rem;

      li {
        padding: 1rem 1.5rem;
        font-size: 1.6rem;
        font-weight: bold;
        border-radius: 8px;
        width: 33%;
        text-align: center;

        &:hover {
          cursor: pointer;
        }
      }

      .active {
        background-color: #ebebeb;
      }
    }
  }

  .account-right__content {
    min-height: 4rem;
    background-color: var(--white-color);
    padding: 1.5rem;
    margin-bottom: 1rem;

    @include mobile {
      padding: 1rem;
    }
  }
}
