.modal__form {
  background-color: var(--white-color);
  padding: 1rem 2rem;
  font-size: 1.4rem;
  border-radius: 8px;
  width: 400px;

  .form-header {
    display: flex;
    padding-bottom: 1rem;

    .form-header__title {
      margin-top: 0;
      flex-grow: 1;
      text-align: center;
    }

    .form-header__icon {
      font-size: 2rem;
      cursor: pointer;
    }
  }

  .form-item {
    display: flex;
    flex-direction: column;
    font-weight: 500;
    margin-bottom: 2.5rem;

    &:last-child {
      margin-bottom: 0;
    }

    input {
      width: 100%;
      padding: 8px 0px 4px;
      line-height: 2rem;
      font-size: 1.4rem;
      background: transparent;
      border: none;
      border-bottom: 1px solid #ebebeb;
      border-radius: 0;

      &:hover {
        border-color: #cbcbcb;
      }

      &:focus {
        border-color: #0897ee;
        outline: none;
      }
    }

    .form-item__select {
      border: none;
      padding: 8px 0px 4px;
      font-size: 1.4rem;

      &:focus {
        outline: none;
      }
    }

    .form-item__note {
      font-weight: 400;
      font-size: 1.3rem;
    }

    .form-item__span {
      font-weight: 400;
      padding-bottom: 1rem;
    }

    .form-item__link {
      text-align: center;
      text-decoration: none;
    }

    .form-item__btn--back {
      margin-top: 1rem;
      background-color: var(--white-color);
      color: #9c9c9c !important;

      &:hover {
        background-color: #ebebeb;
      }
    }
  }
}
