.navbar {
  display: flex;
  padding-bottom: 5px;
  height: var(--navbar-height);
  position: relative;
  z-index: 999;
  .nav__logo {
    margin-right: -120px;
  }

  .nav-logo__img {
    height: 100%;
  }

  .nav__list {
    list-style: none;
    display: flex;
    padding-left: 0;
    margin: 0;
    line-height: var(--navbar-height);
  }

  .nav-list__item {
  }

  .nav-list__link {
    display: block;
    text-decoration: none;
    font-size: 1.6rem;
    color: var(--text-color);
    line-height: var(--navhar-height);
    padding: 0 10px;
  }

  .nav__login {
    position: absolute;
    right: 0;
    height: 100%;
    display: flex;
    align-items: center;
  }

  .btn {
    display: inline-block;
    padding: 10px 20px;
    line-height: 20px;
    text-align: center;
    border-radius: 10px;
    font-weight: bold;
    cursor: pointer;
  }

  .nav-login__btn {
    font-size: 1.6rem;
    color: var(--white-color);
    background-color: var(--primary-color);
  }
}
