.navbar {
  display: flex;
  padding-bottom: 5px;
  height: var(--navbar-height);
  position: relative;
  z-index: 999;
  background-color: #fff;
  
  .nav__logo {
    margin-right: -120px;
  }

  .nav-logo__img {
    height: 100%;
  }

  .nav__list {
    list-style: none;
    display: flex;
    padding-left: 0;
    margin: 0;
    line-height: var(--navbar-height);
  }

  .nav-list__item {
  }

  .nav-list__link {
    display: block;
    text-decoration: none;
    font-size: 1.6rem;
    color: var(--text-color);
    line-height: var(--navhar-height);
    padding: 0 10px;
  }
}
