.order-manager {
  font-size: 1.5rem;
  --receiver-color: #659e55;
  --shop-color: #d53f3a;
  .order-manager__tab {
    .order-manager__tab-list {
      display: flex;
      list-style: none;
      padding-left: 0;
      margin: 0;
      background-color: #282d35;

      .tab-list__item {
        color: #54545c;
        flex-basis: 30%;
        padding: 1rem 0;
        display: flex;
        align-items: center;
        justify-content: center;
        border-bottom: 3px solid #54545c;

        &:last-child {
          flex-basis: 10%;
          line-height: 1.5rem;
          background-color: #e0322b;
          color: white;
          font-size: 2rem;
          border-bottom: none;
        }
      }

      .tab-list__item--active {
        color: white;
        border-bottom: 3px solid #2b97d5;
      }
    }
  }

  .order-manager__content {
    background-color: #cbcacc;
    height: calc(100vh - 40px);
  }
}

.making-food {
  background-color: white;
  margin-bottom: 1.5rem;
  box-shadow: var(--box-shadow);

  .making-food__head {
    display: flex;
    padding: 1rem;
    align-items: center;
    position: relative;
    background-color: #eff6fe;

    .head-serial {
      padding: 1rem;
      background-color: #999a9b;
      color: white;
      border-radius: 50%;
    }
    .head-code {
      padding: 1rem;
    }
    .head-status {
      display: flex;
      align-items: center;
      position: absolute;
      right: 1rem;
      padding: 0.5rem;
      border-radius: 8px;

      color: white;

      .head-status__icon {
        font-size: 1.8rem;
        margin-right: 0.5rem;
      }
    }
    .head-status--delivery {
      background-color: var(--shop-color);
    }
    .head-status--finished {
      background-color: var(--receiver-color);
    }
  }
  .making-food__shop {
    .shop-title {
      color: #9f9e9f;
      display: flex;
      align-items: center;
      padding: 1rem 0;
      position: relative;

      .shop-title__type {
        display: flex;
        align-items: center;
        padding: 0 1rem;

        .type-icon {
          color: var(--shop-color);
        }
      }

      .shop-title__name {
        padding: 0 1rem;
        color: var(--text-color);
      }

      .shop-title__amount {
        position: absolute;
        right: 1rem;
        span {
          &:last-child {
            color: var(--shop-color);
            font-weight: 500;
          }
        }
      }
    }
    .shop-address {
      padding: 0 1rem;
      font-weight: 500;
    }
    .shop-take {
      padding: 1rem;

      .shop-take__time {
        span {
          &:last-child {
            margin-left: 0.5rem;
            color: var(--shop-color);
          }
        }
      }
    }
  }

  .making-food__shop--receiver {
    background-color: #eff4fc;
    .shop-title {
      .shop-title__type {
        .type-icon {
          color: var(--receiver-color);
        }
      }

      .shop-title__amount {
        span {
          &:last-child {
            color: var(--receiver-color);
          }
        }
      }
    }

    .shop-take {
      display: flex;
      align-items: center;
      .shop-take__time {
        background-color: white;
        padding: 0.5rem;
        span {
          &:last-child {
            margin-left: 0.5rem;
            color: var(--receiver-color);
          }
        }
      }

      .shop-take__distance {
        background-color: #dfe2e9;
        margin-left: 2rem;
        padding: 0.5rem;
        color: #adadb2;
      }
    }
  }

  .making-food__confirm {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    color: #6d6c6d;
  }
}

// --------------- CHECK IN TO DAY ---------------------
.check-in {
  font-size: 1.4rem;
  width: 90vw;
  padding: 0 1rem;

  .check-in__head {
    padding: 2rem 0;
    text-align: center;
    .head-title {
      font-weight: bold;
    }
    .head-time {
      margin-top: 0.5rem;
    }
  }

  .check-in__pick {
    .pick-title {
      padding-bottom: 1rem;
      span {
        &:first-child {
          color: #b8b6b8;
        }

        &:last-child {
          margin-left: 1rem;
          font-weight: bold;
        }
      }
    }
    .pick-action {
      display: flex;
      padding: 0 2rem;
      justify-content: space-between;

      .pick-action__item {
        text-align: center;
        .item-text {
          color: #b8b6b8;
        }

        .item-current {
          font-weight: bold;
          color: #539d4c;
          padding: 0.6rem;
        }
        .item-time {
          color: white;
          background-color: #e2524b;
          border-radius: 4px;
          .makeStyles-textField-4 {
            margin-right: 0;
          }
          .MuiInput-underline {
            &::before {
              display: none;
            }
          }
          .MuiInputBase-input {
            color: white;
            font-size: 1.4rem;
            padding: 0.5rem 0;
          }
        }
      }
    }
  }

  .check-in__location {
    margin-top: 2rem;
    text-align: center;
    .location-text {
      color: #b8b6b8;
      padding-bottom: 0.4rem;
    }
    .location-address {
      font-weight: bold;
      text-decoration: underline #b8b6b8;
      padding-bottom: 1rem;
    }
    .location-coordinates {
      font-weight: 500;
    }
  }

  .check-in__action {
    margin: 2rem 0;
    color: white;
    display: flex;
    justify-content: space-between;

    .action-out,
    .action-in {
      padding: 1rem 0;
      text-align: center;
      border-radius: 4px;
    }

    .action-out {
      flex-basis: 46%;
      background-color: #7f7e7f;
    }
    .action-in {
      flex-basis: 46%;
      background-color: #0276c6;
    }
  }
}
