.content {
  background-color: var(--bg-color);
  .content-new-come {
    display: flex;
    padding: 1rem;
    list-style: none;
    margin: 0;
    border-bottom: 1px solid #f6f6f6;

    // -------- SCROLL X --------
    max-width: 100%;
    overflow-x: auto;
    &::-webkit-scrollbar {
      display: none;
    }
    // --------------------------

    .new-come__item {
      background-color: white;
      border-radius: 16px;
      padding: 0.5rem 1rem;
      margin-left: 1rem;
      color: var(--merchant-color);
      border: 1px solid var(--merchant-color);

      .new-come__item-stt {
        font-size: 1.5rem;
      }
      .new-come__item-time {
        font-size: 1.2rem;
        margin-left: 0.2rem;
      }
    }

    .new-come__item--active {
      background-color: var(--merchant-color);
      color: white;
    }
  }

  /////////////////////////////////////////////////////
  .content-body {
    background-color: white;
    .content-title {
      display: flex;
      flex-direction: column;
      padding: 1rem;
      border-bottom: 1px dashed #9999995c;

      .title-name {
        font-size: 1.7rem;
        margin-bottom: 1rem;
      }
      .title-quantity {
        font-size: 1.3rem;
        color: #999;
      }
    }

    .content-time {
      display: flex;
      padding: 1rem;
      justify-content: space-between;

      .time-left {
        display: flex;
        flex-direction: column;
        .time-left__limit {
          font-size: 1.3rem;
          margin-bottom: 1rem;

          span {
            font-size: 1.7rem;
          }
        }
        .time-left__space {
          font-size: 1.3rem;
          color: #999;
        }
      }

      .time-right {
        .time-right__button {
          height: 100%;
          padding: 0 1rem;
          border-radius: 4px;
          background-color: var(--merchant-color);
          color: white;
          border: 1px solid #ccc;
          font-weight: bold;
        }
      }
    }

    .content-order {
      background-color: #fefaef;

      .content-note {
        background-color: #f5efd9;
        margin: 0.5rem;
        padding: 1rem;
        font-size: 1.4rem;

        .note-title {
          color: #b59779;
          font-weight: bold;
        }
        .note-content {
          color: #ccb79d;
        }
      }

      .content-order__item {
        padding: 1rem;
        display: flex;

        color: #b59779;
        font-weight: bold;
        font-size: 1.4rem;
        border-top: 1px dashed #f5efd9;

        .item-quantity {
          flex-basis: 15%;
        }
        .item-food {
          flex-basis: 65%;

          .item-food__name {
            padding-bottom: 1rem;
          }
          .item-food__note {
            font-size: 1.2rem;
            font-weight: 400;
            span {
              padding-left: 1rem;
            }
          }
        }
        .item-total {
          flex-basis: 20%;
          text-align: right;
        }
      }
    }

    .confirm-order {
      padding: 0 1rem;
      .confirm-order__text {
        display: flex;
        justify-content: space-between;
        margin: 1rem 0;

        span {
          font-size: 1.4rem;
          font-weight: 500;
        }

        .text-total {
          display: flex;
          align-items: center;
          .text-total__icon {
            color: #7c8493;
            margin-right: 1rem;
            font-size: 2rem;
          }

          span {
            font-size: 2rem;
          }
        }
      }

      .confirm-order__button {
        display: flex;
        justify-content: space-between;
        font-size: 3rem;
        font-weight: bold;
        padding: 1rem 0;

        button {
          background-color: white;
          padding: 1rem;
          width: 100%;
          font-size: 1.7rem;
          font-weight: bold;
          flex-basis: 48%;
          border-radius: 4px;

          &:first-child {
            border: 2px solid var(--merchant-color);
            color: var(--merchant-color);
          }

          &:last-child {
            background-color: var(--merchant-color);
            color: white;
            border: none;
          }
        }
      }
    }
  }
}
