.ManagerApp {
  height: 100vh;
  .create {
    height: 200px;
  }
  .main {
    height: calc(100vh - 9em);
    display: flex;
    .content {
      flex-grow: 9;
      .find-group {
        display: flex;
        margin: 5rem 8rem;
        font-size: 1.2rem;

        input {
          margin-left: 3rem;
          padding: 1rem;
          width: 20rem;
          border-radius: 18px;
          border: 2px solid rgba(0, 0, 0, 0.2);
          transition: all 0.5s ease;
        }
        input:focus {
          outline: none;
          border: 2px solid #781de1;
        }
        .btn {
          background: linear-gradient(-45deg, #4a02e0, #781de1);
          color: #ddd;
          font-size: 1.3rem;
          padding: 0.5rem 2rem;
          font-weight: bold;
          margin-left: 3rem;
        }
      }
    }
  }
}
