.in-come {
  background-color: var(--bg-color);
  font-size: 1.5rem;
  height: 100vh;

  .in-come__title {
    background-color: #242831;
    color: white;
    text-transform: uppercase;
    text-align: center;
    padding: 1.4rem;
    font-size: 1.6rem;
  }

  .in-come__time-update {
    background-color: #fbedcc;
    text-align: center;
    padding: 0.8rem;
  }

  .in-come__debt {
    background-color: #595859;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    padding: 0.5rem 0.8rem;

    .debt-text {
    }
    .debt-action {
      background-color: #e33129;
      padding: 1rem;
      border-radius: 6px;
    }
  }
  .in-come__list {
    .in-come__week {
      .week-time {
        background-color: white;
        padding: 1rem;
        display: flex;
        align-items: center;
        border-bottom: 1px solid #ebebeb;
        position: relative;
        margin-bottom: 1rem;

        .week-time__icon-calendar {
          font-size: 2rem;
          margin-right: 1rem;
        }
        .week-time__icon-down {
          position: absolute;
          right: 1rem;
          font-size: 2rem;
        }
      }

      .week-content {
        background-color: white;
        margin: 1rem;

        .week-content__percent {
          padding: 1rem;
          display: flex;
          align-items: center;
          justify-content: space-between;
          color: #449ce2;

          .percent-text {
            display: flex;
            align-items: center;
            .percent-text__icon {
              font-size: 2rem;
              margin-right: 0.5rem;
            }
          }
        }

        .week-content__work {
          .work-head {
            display: flex;
            color: white;
            div {
              text-align: center;
              padding: 0.8rem 0;
              &:first-child {
                flex-basis: 66.6666666%;
                background-color: #0280d6;
              }
              &:last-child {
                flex-basis: 33.3333334%;
                background-color: #de3129;
              }
            }
          }

          .work-body {
            display: flex;
            border: 1px solid #ebebeb;

            .work-body__colum {
              flex-basis: 20%;
              text-align: center;
              height: 76px;
              border-right: 1px solid #ebebeb;
              display: flex;
              flex-direction: column;
              justify-content: space-around;
              align-items: center;

              &:last-child {
                border-right: none;
              }
            }
            .work-body__colum--good {
              color: #009500;
            }
            .work-body__colum--bad {
              color: #a51501;
            }
            .work-body__colum--normal {
              color: #eb8334;
            }
            .work-body__colum--not {
              color: #ebd034;
            }
            .work-body__colum--miss {
              color: #985e03;
            }
            .work-body__colum--quit {
              color: #581284;
            }
          }
        }

        .week-content__must-turn {
          display: flex;
          justify-content: space-between;
          padding: 1rem;
          // .green {
          //   color: green;
          // }

          .must-turn__item {
            display: flex;
            align-items: center;

            &:last-child {
              span {
                color: #b95d5c;
              }
            }

            .must-turn__item-icon {
              font-size: 2rem;
              &:first-child {
                color: #379ddf;
                margin-right: 0.5rem;
              }
              &:last-child {
                color: #d4d2d4;
              }
            }
          }
        }

        .week-content__debt-day {
          background: rgb(192, 209, 238);
          background: linear-gradient(
            0deg,
            rgba(192, 209, 238, 1) 0%,
            rgba(255, 255, 255, 0) 100%,
            rgba(206, 210, 213, 1) 100%
          );

          border-top: 1px solid #ebebeb;
          overflow-x: scroll;

          .debt-day__list {
            display: flex;
            justify-content: space-around;
            text-align: center;
            padding: 0.5rem 0;
            width: 140%;
            height: 90px;

            .debt-day__list-item {
              flex-basis: 20%;
              padding: 0.5rem;
              display: flex;
              flex-direction: column;
              justify-content: space-between;

              div {
                &:first-child {
                  color: #3a7ea8;
                  border-bottom: 1px solid #0272bf;
                  padding-bottom: 0.5rem;
                }

                &:last-child {
                  color: #898d91;
                }
              }
            }
          }
        }

        .week-content__average {
          .average-item {
            display: flex;
            align-items: center;
            padding: 1rem;
            border-bottom: 1px solid #ebebeb;
            position: relative;
            .average-item__icon {
              color: #379ddf;
              margin-right: 0.5rem;
            }
            span {
              &:last-child {
                position: absolute;
                right: 1rem;
              }
            }
          }
        }

        .day-content {
          background: white;
          position: fixed;
          top: 0;
          right: 0;
          left: 0;
          bottom: 0;
          z-index: 10000;
          .day-content__title {
            background-color: #242831;
            padding: 1rem;
            color: white;
            display: flex;
            align-items: center;
            font-size: 1.6rem;
            justify-content: center;
            position: relative;

            .title-back {
              position: absolute;
              left: 1rem;
              font-size: 2rem;
            }
          }

          .day-content__quantity-order {
            font-weight: bold;
            padding: 1.5rem;
            text-align: center;
            background-color: #fbfafb;
            border-bottom: 1px solid #ebebeb;
          }
          .day-content__orders {
            .orders-list {
              padding-left: 3rem;
              padding-right: 1rem;
              margin: 0;
              list-style: circle;
              list-style: black;

              .list-item {
                display: flex;
                justify-content: space-between;
                border: 1px solid #ebebeb;
                padding: 1rem;
                margin: 1rem 0;

                .list-item__left {
                  // max-width: 20rem;
                  .left-time {
                  }
                  .left-code {
                    padding-top: 1rem;
                    color: #c2c0c4;
                    font-size: 1.4rem;
                    span {
                      &:first-child {
                        margin-right: 1rem;
                      }
                    }
                    .order-id {
                    }
                  }
                }

                .list-item__amount--red {
                  color: #d82906;
                }

                .list-item__amount--green {
                  color: #50983b;
                }
              }
            }
          }
        }
      }
    }
  }
}
