.received-order {
  font-size: 1.4rem;
  background-color: #f6f6f6;
  .received-tab {
    display: flex;

    .received-tab__list {
      display: flex;
      padding-left: 0;
      list-style: none;
      max-width: 100%;
      overflow-x: auto;

      &::-webkit-scrollbar {
        display: none;
      }

      .received-tab__list-item {
        background-color: white;
        padding: 1rem;
        flex-shrink: 0;
        border: 1px solid var(--merchant-color);
        border-radius: 18px;
        color: var(--merchant-color);
        margin-left: 1rem;
      }

      .received-tab__list-item--active {
        background-color: var(--merchant-color);
        color: white;
      }
    }
  }
}
