.received-order {
  font-size: 1.5rem;
  background-color: #f6f6f6;
  .received-tab {
    display: flex;

    .received-tab__list {
      display: flex;
      padding-left: 0;
      list-style: none;
      max-width: 100%;
      overflow-x: auto;

      &::-webkit-scrollbar {
        display: none;
      }

      .received-tab__list-item {
        background-color: white;
        padding: 1rem;
        flex-shrink: 0;
        border: 1px solid #789fc5;
        border-radius: 18px;
        color: #789fc5;
        margin-left: 1rem;
      }

      .received-tab__list-item--active {
        background-color: #789fc5;
        color: white;
      }
    }
  }
  .received-note {
    background-color: #fef7e5;

    .note-wrap {
      padding: 1rem;
      display: flex;
      .note-icon {
        background-image: linear-gradient(#f2b340, #f7c743);
        border-radius: 4px;
        display: flex;
        align-items: center;
        margin-right: 1rem;

        .icon {
          margin: 0.5rem;
          font-size: 3rem;
          color: white;
          z-index: 1;
        }
      }
      .note-content {
        color: #afaea3;
      }
    }
  }

  .received-list {
    padding: 1rem;

    a {
      text-decoration: none;
      color: var(--text-color);
    }

    .list-item {
      background-color: #fff;
      padding: 1rem;
      margin-bottom: 1rem;
      border-radius: 4px;

      .list-item__top {
        display: flex;
        justify-content: space-between;

        .list-item__top-number {
          display: flex;
          div {
            &:first-child {
              padding: 0.5rem;
              background-color: #789fc5;
              color: white;
            }

            &:last-child {
              padding: 0.5rem;
              color: #789fc5;
              background-color: #d8e7f5;
            }
          }
        }

        .list-item__top-icon {
          color: gray;
          font-size: 2.6rem;
        }
      }
      .list-item__time {
        padding: 1rem 0;
        color: #aeafb3;
        font-size: 1.5rem;
      }
      .list-item__customer {
        margin-bottom: 1rem;
        font-weight: bold;
      }
      .list-item__status-driver {
        margin-bottom: 1rem;
        span {
          &:first-child {
            color: #5f6267;
            padding-right: 1rem;
          }
          &:last-child {
            color: #909195;
          }
        }
      }
      .list-item__bot {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .list-item__bot-total {
          display: flex;
          align-items: center;
          .list-item__bot-icon {
            color: #7e8492;
            margin-right: 0.5rem;
            font-size: 1.8rem;
          }
        }
      }
    }
  }
}

// --------------RECEIVED CONFRIM-----------------------
.received-confirm {
  font-size: 1.5rem;
  background-color: var(--bg-color);
  color: #43434a;

  .bg-w-mrb-1 {
    background-color: white;
    margin-bottom: 1rem;
  }

  .detail-head {
    background-color: #789fc5;

    .detail-head__link {
      color: white;
      padding: 1rem;
      display: flex;
      align-items: center;
      font-size: 1.8rem;
      text-decoration: none;

      .detail-head__icon {
        font-size: 2.4rem;
      }

      span {
        margin-left: 1rem;
      }
    }
  }

  .detail-customer {
    @extend .bg-w-mrb-1;
    display: flex;
    padding: 1rem;

    .customer-avatar {
      width: 30px;
      height: 30px;
      background-size: cover;
      border-radius: 50%;
    }
    .customer-info {
      margin-left: 1rem;
      display: flex;
      flex-direction: column;

      span {
        &:first-child {
          font-weight: 500;
        }

        &:last-child {
          color: #999;
          font-size: 1.2rem;
        }
      }
    }
  }

  .detail-note {
    @extend .bg-w-mrb-1;
    padding: 1rem 1rem 1.5rem;

    span {
      &:first-child {
        font-weight: bold;
        margin-right: 1rem;
      }

      &:last-child {
        font-size: 1.2rem;
        border-radius: 4px;
        border: 1px solid #aac9e3;
        padding: 0.5rem;
        color: #71abdc;
      }
    }
  }

  .detail-partner {
    @extend .bg-w-mrb-1;
    padding: 1rem;
    display: flex;
    align-items: center;

    .partner-avatar {
      width: 30px;
      height: 30px;
      margin-right: 1rem;
      border-radius: 50%;
      background-size: cover;
    }
    .partner-info {
      display: flex;
      flex-direction: column;
      line-height: 1.4;

      span {
        &:first-child {
          font-weight: 500;
        }

        &:last-child {
          color: #a4a4a6;
        }
      }
    }
    .partner-action {
      flex-grow: 1;
      display: flex;
      justify-content: flex-end;

      .icon {
        font-size: 2.6rem;
        color: #1dae35;
      }
    }
  }
  .detail-dishes {
    @extend .bg-w-mrb-1;

    .detail-dishes__item {
      padding: 1rem;
      display: flex;
      justify-content: space-between;
      font-weight: 500;
      border-bottom: 1px dashed var(--bg-color);

      .item-quantity {
        flex-basis: 15%;
      }
      .item-name {
        flex-basis: 65%;
      }
      .item-total {
        font-weight: 400;
        flex-basis: 20%;
        text-align: right;
      }
    }
  }

  .detail-dishes__count {
    .align-count {
      padding: 1rem;
      border-bottom: 1px dashed var(--bg-color);
      display: flex;
      justify-content: space-between;
    }
    .count-cost {
      @extend .align-count;
      font-weight: 450;
    }
    .count-discount {
      @extend .align-count;
    }
    .count-commission {
      @extend .align-count;
      color: #b0b0b2;
    }
    .count-total {
      @extend .align-count;
      font-weight: 450;
      border-bottom: 1px solid #f6f6f6;
    }
  }

  .detail-bot {
    @extend .bg-w-mrb-1;
    .align-bot {
      padding: 1rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
      span {
        &:first-child {
          color: #aeadb2;
        }
      }
    }

    .detail-bot__id {
      color: #73a4cf;
      @extend .align-bot;
    }
    .detail-bot__time {
      @extend .align-bot;
    }
    .detail-bot__space {
      @extend .align-bot;
    }
  }
}
