.received-content {
  .received-note {
    background-color: #fef7e5;

    .note-wrap {
      padding: 1rem;
      display: flex;

      .note-icon {
        background-image: linear-gradient(#f2b340, #f7c743);
        border-radius: 4px;
        display: flex;
        align-items: center;
        margin-right: 1rem;

        .icon {
          margin: 0.5rem 1rem;
          font-size: 3rem;
          color: white;
          z-index: 1;
        }
      }

      .note-content {
        color: #afaea3;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-evenly;
        margin: auto;
      }
    }
  }
  .received-content-list {
    padding: 1rem;

    a {
      text-decoration: none;
      color: var(--text-color);
    }

    .list-item {
      background-color: #fff;
      padding: 1rem;
      margin-bottom: 1rem;
      border-radius: 4px;
      box-shadow: var(--box-shadow);

      .list-item__top {
        display: flex;
        justify-content: space-between;

        .list-item__top-number {
          display: flex;
          div {
            &:first-child {
              padding: 0.5rem;
              background-color: #789fc5;
              color: white;
            }

            &:last-child {
              padding: 0.5rem;
              color: #789fc5;
              background-color: #d8e7f5;
            }
          }
        }

        .list-item__top-icon {
          color: gray;
          font-size: 2.6rem;
        }
      }

      .list-item__time {
        padding: 1rem 0;
        color: #aeafb3;
        font-size: 1.5rem;
      }

      .list-item__customer {
        margin-bottom: 1rem;
        font-weight: bold;
      }

      .list-item__status-driver {
        margin-bottom: 1rem;
        span {
          &:first-child {
            color: #5f6267;
            padding-right: 1rem;
          }
        }
        .status-driver-1 {
          color: #aeafb3;
        }
        .status-driver-2 {
          color: #f5cda2;
        }
      }

      .list-item__bot {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .list-item__bot-total {
          display: flex;
          align-items: center;
          .list-item__bot-icon {
            color: #7e8492;
            margin-right: 0.5rem;
            font-size: 1.8rem;
          }
        }
      }
    }
  }
}
