.navbar {
  padding-bottom: 5px;
  height: var(--navbar-height);
  z-index: 999;
  background-color: #fff;
  box-shadow: 0px 2px 4px 0px rgb(0 0 0 / 15%);

  .nav__wrap {
    display: flex;
    width: 100%;
    position: relative;

    .nav__logo {
      max-width: 100px;
      margin-right: 20px;
    }

    .nav-logo__img {
      width: 100%;
    }

    .nav__list {
      list-style: none;
      display: flex;
      padding-left: 0;
      margin: 0;

      .nav-list__link {
        display: block;
        text-decoration: none;
        font-size: 1.6rem;
        color: var(--text-color);
        padding: 3px 10px;
        height: 100%;
        display: flex;
        align-items: center;
  
        &:hover {
          color: var(--primary-color);
          opacity: 0.75;
          background-color: #99999936;
        }
      }

      .nav-list__link--active {
        font-weight: bold;
        color: var(--primary-color);
        border-bottom: 3px solid var(--primary-color);

        &:hover {
          background-color: #fff;
          opacity: 1;
        }
      }
    }

    .nav__account {
      position: absolute;
      right: 0;
      max-width: 15rem;
    }

  }
}
