.sidebarEl {
  display: flex;
  align-items: center;
  padding: 4rem;
  color: #aaa;
  font-size: 1.8rem;
  height: 10rem;
  position: relative;
  cursor: pointer;
  .icon {
    margin-right: 1rem;
    font-size: 2rem;
  }
}
.actived {
  background: white;
  box-shadow: 0px 0.5px 0px #eee, 0px 1px 0px #eee;

  color: #000;
  .icon {
    color: #781de1;
  }
}
.actived:before {
  content: "";
  width: 1rem;
  height: 10rem;
  background: #781de1;
  position: absolute;
  top: 0;
  left: 0;
}
