.order {
  background-color: #f6f6f6;

  .order__promotion {
    background-color: white;
    border-radius: 8px;
    height: 110px;
    margin-bottom: 10px;
    box-shadow: 2px 2px 4px 0px rgb(0 0 0 / 15%);

    .promotion__title {
      padding: 15px;
      font-size: 1.8rem;
      color: var(--text-color);
      font-weight: bold;
      text-transform: uppercase;
      border-bottom: 1px solid #ebebee;
    }

    .promotion__content {
      padding: 15px;
      font-size: 1.5rem;
      display: flex;
      align-items: center;

      .promotion__icon {
        font-size: 1.8rem;
        margin-right: 5px;
      }
    }
  }

  .order__cart-list {
    background-color: #fff;
    border-radius: 8px;
    padding: 15px;
    margin-bottom: 10px;
    box-shadow: 2px 2px 4px 0px rgb(0 0 0 / 15%);

    .list__title {
      text-transform: uppercase;
      color: #9d9d9d;
      font-size: 1.8rem;
      border-bottom: 1px solid #9d9d9d;
      padding-bottom: 15px;
    }

    .list__item {
      .item {
        white-space: 2px;
        padding: 10px 0;
        font-size: 1.6rem;
        display: flex;
        justify-content: space-between;
        line-height: 2rem;

        .item-name {
          flex-basis: 30%;
          font-weight: bold;
        }
        .item-update {
          flex-basis: 30%;
          display: flex;
          justify-content: space-around;
          color: var(--primary-color);

          .item-update__quantity {
            color: var(--text-color);
          }
        }
        .item-price {
          text-align: center;
          flex-basis: 30%;
        }
      }
    }

    .list__amount {
      font-size: 1.6rem;
      color: var(--text-color);
      font-weight: bold;
      display: flex;
      justify-content: space-around;
      margin: 15px 0;

      .amount__num {
        color: var(--primary-color);
      }
    }
  }

  .order__button {
    background-color: var(--primary-color);
    border-radius: 8px;
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    color: #fff;
    padding: 12px 0;
    border-radius: 12px;
  }
}
